* 
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: eirikRaude;
    src: url(../fonts/EIRIK_RAUDE.ttf);
}
@font-face {
    font-family: robotoSBold;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}
@font-face {
    font-family: robotoSlab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: robotoMed;
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: robotoReg;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: ghostReg;
    src: url(../fonts/Ghostlight-Regular.ttf);
}

body
{
    background-color: white;
    color: #2f2f2f;
    font: 14px robotoReg;
}

a {
    color : #2f2f2f;
    text-decoration: none;
    cursor: pointer;
}
.interactive-element{
    opacity: 0.8;
    cursor: pointer;
}
.interactive-element:hover{
    opacity: 1;
}


h3 {
    text-align: center;
    font: 30px eirikRaude;
    padding: 20px 0;

}

.button-container {
    text-align: right;
    margin: 20px 0px;
    height: 40px;
}
.button-container.both-sides{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container.left {
    text-align: left;
}
.cats-house-preview{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/cats-house-background.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -75px;
}
.cats-house-info{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: robotoMed;
}
.cats-house-header{
    font-size: 35px;
    line-height: 40px;
    margin-top: 45px;
    margin-bottom: 30px;
    text-align: center;
}
.cats-house-text{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 45px;
    text-align: center;
}
.cats-house-donate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(../img/donate-background.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: 100% bottom;
    background-size: auto 450px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.dogs-about-container .button-container{
    text-align: left;
}


.container {
    padding: 0 15%;
    width: 100%;
    box-sizing: border-box;
}

.popup-form {
    display: none;
}

.row:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.col-2 {
    display: inline-block;
    width: 16%;
    float: left;
}

.col-3 {
    display: inline-block;
    width: 25%;
    float: left;
}

.col-4 {
    display: inline-block;
    width: 33%;
    float: left;
}

.col-6 {
    display: inline-block;
    width: 50%;
    float: left;
}

.col-8 {
    display: inline-block;
    width: 66%;
    float: left;
}
.parent-width {
    width: 100%;
}

.hidden {
    display: none;
}
.header{
    background-color: #efefef;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0 15px 0;

}



.header-top .menu-item a, .header-top .menu-item .dropdown-menu-item {
    padding: 10px 10px;
    text-align: center;
    display: block;
}
.dropdown-menu-item{
    box-sizing: border-box;
    width: 135px;
    cursor: pointer;
    position: relative;
}
.dropdown-menu-item:hover{
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.dropdown-menu-item:hover .dropdown-content{
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 20px;
    z-index: 1;
    top: 38px;
    width: 135px;
    box-sizing: border-box;
    left: 0;
}
.locale-switcher{
    margin: 0 20px;
}
.locale-switcher .current-locale{
    display: none;
}
.header-bottom {
    margin: 0 0 0 40%;
}

.header-bottom .header-bottom-phonenumber {
    display: inline-block;
    width: 30%;
    font: 18px eirikRaude;
}

.header-bottom .header-bottom-phonenumber img {
    width: 20px;
    float: left;
}

.footer {
    padding: 30px 0;
    background-color: white;
    border-top: 1px solid #efefef;
    text-align: center;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-logo{
    padding-bottom: 5px;
    border-bottom: 2px solid #2f2f2f;
    margin-bottom: 15px;
}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.logo-text{
    text-transform: uppercase;
    font-family: ghostReg;
    font-size: 20px;
}


.footer hr {
    color: #323232;
    background-color: #323232; /* too dark*/
    width: 30%;
    margin: auto;
    height: 1px;
}
.footer-contacts *{
    margin-bottom: 3px;
}

.footer-contacts-phone {
    font-weight: bold;
}

.cats-house-list.container{
    padding: 40px 15% 50px;
    background-color: #f3f4f6;
}
.cats-house-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cats-house-list-item{
    width: 450px;
    height: 325px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: white;
}
.cats-house-photo{
    width: 100%;
    height: 100%;
}
.cats-house-list-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cats-house-name-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(252, 103, 3, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: opacity 0.5s linear;
    opacity: 0;
    font: 30px robotoSBold;
    text-transform: uppercase;
}
.cats-house-list-item:hover .cats-house-name-overlay{
    opacity: 1;
}
.cats-house-news {
    border-top: 1px solid transparent;
    background-color: #fff;
    padding-bottom: 50px;
    font: 15px robotoMed;


}
.cats-house-news.container{
    padding: 60px 10%;
}
.cats-house-news-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cats-house-news-item {
    width: 350px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
}


.cats-house-news-title {
    font-weight: bold;
    text-align: center;
    padding: 15px 10px;
}

.cats-house-news-description {
    color: #787878;
    height: 120px;
    padding: 20px 10px 25px;
}
.cats-house-news-more{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.reviews-title{
    font: 18px robotoReg ;
    text-align: center;
    padding: 30px 0 25px;
}
.nursery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 40px;
}
.nursery-photo{
    width: 500px;
    margin-right: 30px;
}
.nursery-photo img{
    width: 100%;
    height: auto;
    min-height: 200px;
}
.nursery-description{
    font-family: robotoReg;
    font-size: 15px;
    line-height: 20px;
}
.info-text{
    font-size: 14px;
    margin: 5px 0;
}
.info-part{
    font-size: 16px;
    font-family: robotoSlab;
    margin: 10px 0;
}
.reviews-comment-item .date{
    opacity: .5;
    margin:  10px 0px;
    font: 15px eirikRaude;
}
.reviews-comment-item .title {
    margin:  20px 0px;   
    font: 15px robotoReg;
}
.reviews-comment-item .text {
    margin:  15px 0px;
}
.reviews-comment-item {
    padding: 30px 30px;
    border-bottom: 1px solid #DCDCDC;
}

.reviews-add-comment .review-form, .reviews-add-comment .review-disclaimer {
    display: inline-block;
    width: 45%;
}

.reviews-add-comment .review-disclaimer {
    padding-top: 60px;
}
.reviews-add-comment .review-disclaimer h4 {
    color: rgba(252, 103, 3, 0.8);
    font: bold italic 16px robotoSlab;
    line-height: 20px;
    padding-bottom: 20px;
}

.reviews-add-comment .review-disclaimer p {
    font: italic 14px robotoSlab;
    line-height: 18px;
    color: rgba(47, 47, 47, 0.8);
    padding-bottom: 5px;
}

.reviews-add-comment .review-form {
    padding: 40px 30px;
    float: left;
    text-align: right;
}
.review-form .orange-submit{
    margin: 5px 0;
}

.reviews-add-comment input[type="text"], .reviews-add-comment textarea {
    width: 49.5%;
}

.reviews-add-comment textarea {
    width: 100%;
}
.vaccinations-container .delete-icon{
    right: 8px;
    top: 12px;
}
.videos-container .delete-icon{
    right: 8px;
    top: 8px;
}
.news-info, .tabs .cats-tab-info,
.tabs .nursery-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.main-photo{
    width: 400px;
    height: 400px;
    margin-right: 30px;
}
.main-photo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.main-info{
    width: 500px;
}
.news-container.container{
    padding-top: 50px;
    padding-bottom: 60px;
}
.news-item{
    margin-bottom: 50px;
    font-family: robotoMed;
}
.news-item-description{
    padding: 30px 0;
}
.news-item-image img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
}
.news-item-image{
    position: relative;
}
.news-item-image:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(transparent 50%, white);
    z-index: 2;
}
.news-item-title{
    font-size: 30px;
    line-height: 35px;
    padding: 30px 0;
}
.news-item-photos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 0;
}
.photos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 0;
}
.photo-item{
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
}
.photo-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news-page {
    margin-top: 60px;
    background: #fff;
    margin-bottom: 70px;
}
.videos{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.video-item{
    width: 300px;
    height: auto;  
    margin-bottom: 20px;
}
.video-item iframe{
    width: 300px;
    height: auto;
}
.gallery-page.container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.cats-list-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.cats-show-container{
    margin: 50px 0 40px;
}
.cats-list-item .cats-photo-container{
    width: 500px;
    margin-right: 30px;
}
.cats-other-photos-container{
    margin-right: 30px;
    padding: 10px 20px; 
}
.cats-other-photos-container img{
    width: 150px;
    height: 125px;
    object-fit: contain;
}
.cats-other-photos-wrapper{
    position: relative;
}
.cats-photo-jcarousel ul{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    list-style: none;
    width: 460px;
    overflow: hidden;
}
.cats-photo-jcarousel ul li{
    margin-right: 5px;
}
.cats-list-item .cats-photo{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.cats-about-container{
   max-width: 400px;
}
.cats-title{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.cats-title *:not(:last-child){
    margin-right: 15px;
}
.cats-sex img, .cats-sex{
    width: 24px;
    height: 24px;
}
.cats-edit img, .cats-edit{
    width: 24px;
    height: 24px;
}
.cats-name{
    font: 30px robotoSlab;
    text-transform: uppercase;
}
.cats-description{
    margin: 15px 0 30px;
}
.cats-more{
    padding: 10px 0;
}
.cats-add-question textarea{
    width: 400px;
}
.cats-add-question input[type="text"], .log-in-content input[type="text"] , .log-in-content input[type="password"]{
    width: 400px;
    display: block;
}
.cats-add-question{
    text-align: center;

}
.orange-href{
    color: #fc6703;
    font-size: 16px;
}
.underlined-orange{
    border-bottom: 2px #fc6703 solid;
}
.orange-button{
    padding:14px 30px;
    font-family: robotoReg;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    background-color: #fc6703;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
a.orange-submit{
    color: white;
}
.orange-submit{
    border-style: none;
    box-shadow: none;
    padding:7px 10px 8px;
    font-family: robotoReg;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(252, 103, 3, 0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.gray-submit{
    border-style: none;
    box-shadow: none;
    padding:7px 10px 8px;
    font-family: robotoReg;
    font-size: 14px;
    line-height: 18px;
    min-width: 100px;
    text-align: center;
    background-color: rgba(47, 47, 47, 0.8);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.colored-header{
    color: white;
    text-align: center;
    font: 18px robotoReg;
}
.cats-add-question{
    padding: 20px 20px 0 20px;
    font: 15px robotoReg;
    text-align: center;
}
.log-in-content{
    padding: 20px;
    font: 15px robotoReg;
}
.log-in-content label{
    padding: 5px 0;
    line-height: 25px;
}
.log-in-content .orange-submit{
    margin: 20px 0 0;
}


.litter-item .parents-img{
    width: 200px;
    height: 300px;
    line-height: 300px;
    display: block;
}


.parents-img img{
    width: 200px;
    max-height:300px;
    vertical-align: middle;
    object-fit: contain;


}
.litter-item .parent-container{
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 200px;
}
.litter-date{
    text-align: center;
}
.litter-item{
    width:500px;
    display: block;
    border-bottom: 1px #B5B5B5 solid; 

    margin: 10px auto;
}
.partner-container{
    width:800px;
    margin: auto;

}
.partner-item{
    margin: 20px 0;
    border-bottom: 1px solid #B5B5B5;
    padding: 30px 0;
}
.partner-container .partner-img{
    width: 350px;
    float:left;
    display: inline-block;
}
.partner-container .partner-info{
    padding: 70px 0;
    width: 350px;
    float:right;
    display: inline-block;
}
.partner-item:after{
    content: '.';
    float: none;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}
.partner-img img{
    max-width: 100%;
    height: 230px;
    object-fit: contain;
}
.litter-item .orange-button{
    margin: 20px auto;
}

.litter-item-child-list{
    width: 500px;

}
.litter-item-child-list .child-list-item{
    text-align: center;
    height: 35px;
    margin: 20px 5px; 
    padding: 0 20px;
}
.child-list-item .child-sex{
    width: 30px;
    height: 30px;
    float:left;
}
.child-sex img{
    max-height: 30px;
    width: 30px;
}
.child-list-item .child-state{
    width: 30px;
    height: 30px;
    float:right;
}
.child-list-item .child-sex, .child-list-item .child-state, .child-list-item .child-name{
    display: inline-block;
}
.child-list-item .child-name{
    line-height: 35px;
}
.services-img{
    float: left;

}
.services-img, .service-list{
    display: inline-block;
}
.service-container:after{
    content: '.';
    float: none;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;    
}
.service-about .service-price{
    font-size: 15px;
    font-weight: bold;
}
.service-about .service-price, .service-about .service-description {
    margin: 20px 0;
}  
.service-name{
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
}
.service-about{
    margin-left: 10px; 
}
.services-img{
    width: 500px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.service-list{
    width: 500px;
    margin: 50px;
}
.service-list-item{
    margin: 20px 0;
}
.service-about .orange-button{
    margin: 20px 0;
}

.nursery-comments {
    width: 500px;
    margin: auto;
}



.ask-question, .log-in-head, .edit-head{
    line-height: 70px;
    height: 70px;
    z-index: -1;
    background-color: rgba(252, 103, 3, 0.7);
}
a.orange-button{
    text-align: center;
    display: block;
}
a.grey-button{
    width: 115px;
    text-align: center;
    display: block;
}
input[type="submit"] {
    width: 179px;
}
.button-container .orange-button{
    float: right;
}
.services-info .col-6{
    width: 100%;
    text-align: center;
}

.services-info .right-col, .services-info .left-col{
    display: inline-block;
    width: 40%;
    margin: 5px;
}
.vaccination-item .right-col, .vaccination-item .left-col,
.title-item .right-col, .title-item .left-col
{
    display: inline-block;
    width: 40%;
    margin: 5px;
}
.vaccination-item, .title-item {
    width: 500px; 
    border: 1px #B5B5B5 solid;
    margin: 10px 73px;
    display: inline-block;
    height: 110px;
    line-height: 50px;
}
.services-info .left-col, .vaccination-item .left-col, .title-item .left-col{
    float: left;
}
.vaccination-item:after, .title-item:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.services-info .right-col, .vaccination-item .right-col, .title-item .right-col{
    float: right;
}
.services-info .service-price{
    width: 80px;
    margin: auto;
}
.comment-item .user-name, .comment-item .comment-date,
.comment-item .user-email, .comment-item .user-question,
.comment-item .user-phone, .comment-item .comment-theme{
    margin: 10px;
}
.comment-item{
    border-bottom: 1px #B5B5B5 solid;
    margin: 40px 10px;
    width: 500px;

}
.comments{
    width: 500px;
    margin: auto;
}

.comment-item .user-name, .comment-item .comment-theme{
    font-weight: bold;
    margin: 15px 10px;
}
.comment-item .comment-edit, .comment-item .comment-delete{
    margin: 20px 10px;

}
.comment-edit .orange-button, .comment-delete .orange-button{
    color: white;
}
